# -*- mode: conf; coding: utf-8 -*-

# This file controls the configuration of the Tahoe node that
# lives in this directory. It is only read at node startup.
# For details about the keys that can be set here, please
# read the 'docs/configuration.rst' file that came with your
# Tahoe installation.


[node]
nickname = <%= @nickname %>
web.port = <%= @webport %>
web.static = public_html
#tub.port =
#tub.location = 
#log_gatherer.furl =
#timeout.keepalive =
#timeout.disconnect =
#ssh.port = 8022
#ssh.authorized_keys_file = ~/.ssh/authorized_keys

<% if @type != 'introducer' -%>
[client]
# Which services should this client connect to?
introducer.furl = <%= @introducer_furl %>
helper.furl = <%= @helper_furl %>
#key_generator.furl =
stats_gatherer.furl = <%= @stats_gatherer_furl %>

# What encoding parameters should this client use for uploads?
#shares.needed = 3
#shares.happy = 7
#shares.total = 10

[storage]
# Shall this node provide storage service?
enabled = <%= @storage %>
#readonly =
reserved_space = 1G
#expire.enabled =
#expire.mode =

[helper]
# Shall this node run a helper service that clients can use?
enabled = <%= @helper %>
<% end %>